.welcome {
  width: 600px;
  height: 600px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 35px;
}

.header {
  font-size: 75px;
  margin-top: auto;
  text-align: center;
  font-family: 'Vibes';
  font-weight: bold;
}

.moto {
  font-size: 25px;
  text-align: center;
  font-family: 'Courgette';
}

.start {
  width: auto;
  height: 35px;
  font-size: 30px;
  font-family: 'Courgette';
  color: white;
  border: none;
  background-color: transparent;
  transition: transform 0.3s ease;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
  }
}
