.welcome {
  width: 500px;
  height: 600px;
  display: flex;
  flex-direction: column;
}

.urban {
  font-size: 25px;
}

.mainText {
  font-size: 75px;
  margin-top: 25px;
}

.infoText {
  font-size: 30px;
  margin-top: 35px;
}
